
.App {
    font-family: sans-serif;
    text-align: center;
    background-color: lavender;
    
  }

.a-box {
    width: 300px;
    text-align: center;
    padding-left: 500px;
    padding-top: 50px;
  }
  
  .img-container {
      height: 300px;
      width: 250px;
      overflow: hidden;
      border-radius: 20px 20px 20px 20px;
      display:inline-block;
      text-align: center;
      justify-content: center;
  }
  
  .in-img {
      width: 250px;
      height: 300px;
      align-items: center;
      justify-content: center;
  }
  
 
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }
  
  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #04bcff;
    font-size: 18px;
  }