.App {
  font-family: sans-serif;
  text-align: center;
  background-color: lavender;
}
.btn{
  font-size: 1rem;
  background-color: rgb(2, 113, 178);
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: justify;
  text-decoration: none;
  margin: 8px 10px;
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(238, 115, 115);
 
}

.card{
 text-align: center;
  border: 2px solid rgb(33, 8, 227);
  background-color: rgb(178, 158, 253);
  border-radius: 5px;
  margin-left: 100px;
  margin-Right: 100px;
  margin: 16px 0
}
.card:hover{
  background-color: rgb(238, 115, 115);
}